.class1{
	margin-top:70px;
	width:400px;
	height:500px;
	border:1px solid black;

}

.class1 b{
	position:absolute;
}

.class1 input,textarea{
	margin-left:12em;
}

#button1{
	
	border-radius:5px;
	padding:5px;
	margin-left:0px;
}

.class2{
	margin-top:60px;
	width:800px;
	height:550px;
	border:1px solid black;

}

#button2{
	
	border-radius:5px;
	padding:5px;
	margin-right:400px;
}

#button3{
	
	border-radius:5px;
	padding:5px;
	margin-right:500px;
}

.button4{
	
	border-radius:5px;
	padding:5px;
	margin-right:500px;
}


